<?xml version="1.0" encoding="UTF-8"?>

<theme>
  <formatVersion>7</formatVersion>

  <view name="menu">

    <menuText name="menutitle">
      <fontPath>./_assets/fonts/ubuntu_medium.ttf</fontPath>
      <fontSize>0.044</fontSize>
      <color>ffffff</color>
    </menuText>

    <menuText name="menufooter">
      <fontPath>./_assets/fonts/SST.ttf</fontPath>
      <fontSize>0.02</fontSize>
    </menuText>

    <menuText name="menutext">
      <fontPath>./_assets/fonts/SST.ttf</fontPath>
      <fontSize>0.038</fontSize>
      <color>${textColor}</color>
      <selectorColor>${gradientStartColor}</selectorColor>
      <selectorColorEnd>${gradientEndColor}</selectorColorEnd>
      <selectedColor>${activeColor}</selectedColor>
      <separatorColor>${seperatorColor}</separatorColor>
    </menuText>

    <menuTextSmall name="menutextsmall">
      <fontPath>./_assets/fonts/SST.ttf</fontPath>
      <fontSize>0.02</fontSize>
      <color>${menuColor}</color>
    </menuTextSmall>

    <menuBackground name="menubg">
      <color>${bgColor}</color>
      <cornerSize>16 16</cornerSize>
    </menuBackground>
    
  </view>

</theme>