<?xml version="1.0" encoding="UTF-8"?>

<theme>
  <formatVersion>7</formatVersion>

  <view name="system">

    <carousel name="systemcarousel">
      <type>horizontal</type>
      <pos>0 0.2</pos>
      <size>1 1</size>
      <origin>0 0</origin>
      <color>${systemBG}00</color>
      <logoScale>1</logoScale>
      <logoSize>0.20 0.20</logoSize>
      <logoPos>-1 0</logoPos>
      <systemInfoDelay>500.0</systemInfoDelay>
      <defaultTransition>instant</defaultTransition>
    </carousel>

    <text name="systemInfo">
      <pos>0 0.44</pos>
      <size>1 0.2</size>
      <backgroundColor>00000000</backgroundColor>
      <color>${systemInfoColor}</color>
      <fontPath>./_assets/fonts/SST.ttf</fontPath>
      <fontSize>0.04</fontSize>
    </text>

    <text name="sys_subtitle" extra="true">
      <pos>0.10 0.52</pos>
      <size>0.8 0.3</size>
      <color>${textColor}</color>
      <fontSize>0.033</fontSize>
      <alignment>center</alignment>
      <forceUppercase>1</forceUppercase>
      <fontPath>./_assets/fonts/SST.ttf</fontPath>
    </text>

    <text name="sys_description" extra="true">
      <pos>0.255 0.6</pos>
      <size>0.5 0.3</size>
      <color>${textColor}</color>
      <fontSize>0.025</fontSize>
      <alignment>center</alignment>
      <forceUppercase>0</forceUppercase>
      <fontPath>./_assets/fonts/SST.ttf</fontPath>
    </text>

    <image name="background" extra="static">
      <size>1 1</size>
      <pos>0 0</pos>
      <origin>0 0</origin>
      <zIndex>0</zIndex>
      <color>${systemBG}</color>
      <path>./_assets/backgrounds/mame.png</path>
    </image>

    <helpsystem name="help">
      <textColor>${systemLogoColor}90</textColor>
      <iconColor>${systemLogoColor}90</iconColor>
      <fontPath>./_assets/fonts/ubuntu_condensed.ttf</fontPath>
      <fontSize>0.025</fontSize>
    </helpsystem>

    <image name="logo">
      <path>./_assets/logos/${system.theme}_w.png</path>
      <path>./_assets/logos/${system.theme}_w.svg</path>
      <reflexion>0.1 0.0</reflexion>
      <reflexionOnFrame>true</reflexionOnFrame>
    </image>

		<!-- Specific info for system -->
		<include name="sys_subtitle">./_assets/extrainfo/${system.theme}.xml</include>		

    <text name="logoText">
      <text>${system.theme}</text>
      <fontPath>./_assets/fonts/miss.ttf</fontPath>
      <fontSize>0.092</fontSize>
      <color>${systemLogoColor}ff</color>
      <reflexion>0.1 0.0</reflexion>
      <reflexionOnFrame>true</reflexionOnFrame>
    </text>

  </view>

</theme>