<?xml version="1.0" encoding="UTF-8"?>

<theme>
  <formatVersion>7</formatVersion>

  <view name="system">

    <carousel name="systemcarousel">
      <type>horizontal</type>
      <pos>0 0.41</pos>
      <size>1 0.3925</size>
      <origin>0 0</origin>
      <color>${systemBG}00</color>
      <logoScale>1</logoScale>
      <logoSize>0.25 0.155</logoSize>
      <logoPos>-1 0</logoPos>
    </carousel>

    <text name="systemInfo">
      <pos>0 0.63</pos>
      <size>1 0.25</size>
      <backgroundColor>00000000</backgroundColor>
      <color>${systemLogoColor}ff</color>
      <fontPath>./_assets/fonts/SST.ttf</fontPath>
      <fontSize>0.03</fontSize>
    </text>

    <image name="background" extra="static">
      <size>1 1</size>
      <pos>0 0</pos>
      <origin>0 0</origin>
      <zIndex>0</zIndex>
      <color>${systemBG}</color>
			<path>./../_assets/backgrounds/bg1.png</path>
		</image>

    <helpsystem name="help">
      <textColor>${systemLogoColor}90</textColor>
      <iconColor>${systemLogoColor}90</iconColor>
      <fontPath>./_assets/fonts/ubuntu_condensed.ttf</fontPath>
      <fontSize>0.025</fontSize>
    </helpsystem>

    <image name="logo">
      <path>./${system.theme}/w_${system.theme}.svg</path>
      <reflexion>0.16 0.0</reflexion>
      <reflexionOnFrame>true</reflexionOnFrame>
    </image>

    <text name="logoText">
      <text>${system.theme}</text>
      <fontPath>./_assets/fonts/miss.ttf</fontPath>
      <fontSize>0.092</fontSize>
      <color>${systemLogoColor}ff</color>
      <reflexion>0.16 0.0</reflexion>
      <reflexionOnFrame>true</reflexionOnFrame>
    </text>

  </view>

</theme>